#within_school_login_form,#outside_school_register_form,#outside_school_login_form
{
    display: none;
}

.login_form_inputs
{
    margin-top: 32px;
}

#alert_container_within_school_login_form,#alert_container_outside_school_register_form,#alert_container_outside_school_login_form
{
    margin-top: 32px;
    
    height: 64px;
}

#alert_within_school_login_form,#alert_outside_school_register_form,#alert_outside_school_login_form
{
    display: none;
}

#btn_within_school_login_form,#btn_outside_school_login_form
{
    margin-top: 44px;
}

#btn_outside_school_register_form
{
    margin-top: 8px;
}

#jumbotron_intro
{
    min-height: 384px;
}

.login_btn
{
    background-color: #337ab7;
    
    color: white;
}