<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ERROR</title>
        <link href="public/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/CSS/global.css" rel="stylesheet">
        <style>
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WE GOT AN ERROR HERE</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
                <h2>错误<br><small>ERROR</small></h2>
            </div>
            <h4>
                此问题可由下列情况引起：
            </h4>
            <p>
                1.您所访问的资源不存在。<br>
                2.系统遭遇运行故障。<br>
                3.投票时间已过。
            </p>
        </div>
        </div>
        <script src="public/JS/jquery-1.11.1.js"></script>
        <script src="public/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    </body>
</html>