<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>活动介绍</title>
        <link href="public/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/CSS/global.css" rel="stylesheet">
        <style>
            .list-group-item p
            {
                font-size: 14px;
            }
            
            .intro_li
            {
                display: none;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand">活动介绍</a>
                    </div>
                </div>
            </div>
        </nav>
        <div id="jumbotron_main" class="jumbotron">
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                选择介绍项 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="introduction_btn">简介</a></li>
                                <li class="divider"></li>
                                <li><a id="voting_rules_btn">投票规则</a></li>
                                <li class="divider"></li>
                                <li><a id="ranking_rules_btn">排名规则</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item intro_li" id="introduction_detail">
                        <div class="container">
                            <div class="page-header">
                                <h2>活动简介<br><small>Introduction</small></h2>
                            </div>
                            <p>
                                东南大学最具影响力毕业生评选活动始于2011年，是我校榜样教育的新尝试和突破口。活动打破了传统上榜样“高大全”的特点，建立了更加符合时代特征的榜样选择标准，充分利用网络等媒体让选择过程民主化，以广大学子乐于接受的语言和方式实现榜样展现形式的多样化、宣传力度的全面化，让榜样与普通学子之间产生情感上的心意相通，真正提升精英育人的成效。<br>
                                三年来，在东南大学最具影响力毕业生评选的舞台上，涌现出了一批杰出学子的代表，既有学术骄子、创业精英，也有半脑男孩、打工皇帝。他们在引领广大学子追求优秀与卓越的同时，受到校内外媒体及社会公众的认同，使得其学习生活经历得以广泛传播，产生了积极的社会影响。
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item intro_li" id="voting_rules_detail">
                        <div class="container">
                            <div class="page-header">
                                <h2>投票规则<br><small>Voting Rules</small></h2>
                            </div>
                            <p>
                                1.校内人员请通过一卡通号及校园统一认证密码登录投票。<br>
                                2.校内人员请使用邮箱注册账号后登录投票。<br>
                                3.投票期间，每人每天可投票一次，每次投15位候选人，多于或少于15位候选人，均无法完成投票。<br>
                                4.注册或登录后，点击候选人照片可查看详细信息；如若投票，请点击相应候选人的投票按钮，选满15位候选人后，点击页面底部提交选票按钮完成投票。<br>
                                5.抵制刷票行为。刷票者票数作废。
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item intro_li" id="ranking_rules_detail">
                        <div class="container">
                            <div class="page-header">
                                <h2>排名规则<br><small>Ranking Rules</small></h2>
                            </div>
                            <p>
                                1.通过本次投票，最终确定15位候选人进入现场决选，15位候选人按照最后得分由高至低确定。候选人最后得分为校内人员、校外人员投票数经换算和记分后的得分之和。<br>
                                2.校内人员投票的最终票数换算为百分制分数，即票数最高者记100分，以此为基准，其余候选人票数按照比例换算为分数（例：第一名票数为1200票，记100分，第二名票数为1100票，则其分数=1100票/1200票*100分=91.67分）。<br>
                                3.校外人员投票的票数进行阶梯式记分。得票1-10名记10分，11-20名记9分，21-30名记8分，以此类推。<br>
                                4.原则上，选出的15位候选人中，同一院系不得超过2人，若超过2人，自第3人起不再进入15人名单，所空名额按最后得分由之后的候选人递补。<br>
                                5.如遇特别优秀、事迹突出、能够代表“东南大学最具影响力毕业生”形象，但票数相对较低的同学，组委会将通过集体表决的方式，适当予以破格，其名额不计入网络投票选出的15人中。
                            </p>
                        </div>
                    </li>
                </ul>
                <p><a  class="btn btn-default" role="button">返回</a></p>
            </div>
        </div>
        <script src="public/JS/jquery-1.11.1.js"></script>
        <script src="public/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
        <script src="public/JS/intro.js"></script>
        <script>
            introduction_btn.click(function(){
                if(intro_details["introduction_detail"].isShown!=true)
                {
                    callupIntro("introduction_detail");
                }
            });
            voting_rules_btn.click(function(){
                if(intro_details["voting_rules_detail"].isShown!=true)
                {
                    callupIntro("voting_rules_detail");
                }
            });
            ranking_rules_btn.click(function(){
                if(intro_details["ranking_rules_detail"].isShown!=true)
                {
                    callupIntro("ranking_rules_detail");
                }
            });
            
            callupIntro("introduction_detail");
        </script>
    </body>
</html>