<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>候选人详情</title>
        <link href="public/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/CSS/global.css" rel="stylesheet">
        <style>
            .caption p
            {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" id="candidate_name_ontop"></a>
                    </div>
                </div>
            </div>
        </nav>
        <div id="jumbotron_main" class="jumbotron">
            <div class="container">
                <div class="thumbnail">
                    <img id="candidate_avatar">
                    <div class="caption">
                        <h2 id="candidate_name"></h2>
                        <p id="candidate_detail"></p>
                        <p><a class="btn btn-default" role="button">返回</a></p>
                    </div>
                </div>
            </div>
        </div>
        <script src="public/JS/jquery-1.11.1.js"></script>
        <script src="public/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
        <script>
            var candidate_name_ontop=document.getElementById("candidate_name_ontop");
            var candidate_avatar=document.getElementById("candidate_avatar");
            var candidate_name=document.getElementById("candidate_name");
            var candidate_detail=document.getElementById("candidate_detail");
            
            //GET候选人详情并输出
            function loadCandidateDetail(number)
            {
                $.get("public/RESORCE/json/introduce_"+number+".json",function(cadidateDetail,result){
                    if(result=="success")
                    {
                        candidate_name_ontop.innerHTML=cadidateDetail.name;
                        candidate_name.innerHTML=cadidateDetail.realname;
                        candidate_avatar.src="public/RESORCE/candidates-img/p"+0+".jpg";
                        candidate_detail.innerHTML="<h3>PROOF</h3><p>"+cadidateDetail.proof+"</p><h3>INTRODUCE</h3><p>"+cadidateDetail.introduce+"</p>";
                    }
                });
            }
            
            //可以采取模板引擎方式传入学号
            loadCandidateDetail("01109109");
        </script>
    </body>
</html>