<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>系统维护</title>
        <link href="public/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/CSS/global.css" rel="stylesheet">
        <style>
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand">系统维护</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
                <h2>系统正在维护<br><small>System is under maintenance</small></h2>
            </div>
            <h4>
                本系统于每晚22:00-次日晨7:00进行维护
            </h4>
            <p>
                请于其他时间进行投票<br>
                谢谢配合
            </p>
        </div>
        </div>
        <script src="public/JS/jquery-1.11.1.js"></script>
        <script src="public/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    </body>
</html>