<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>2015东南大学最具影响力毕业生投票</title>
        <link href="/public/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/CSS/form.css" rel="stylesheet">
        <link href="/public/CSS/global.css" rel="stylesheet">
        <style>
            #jumbotron_main
            {
                background-image: url("/public/RESORCE/brickroad.jpg");
                background-position: center;

                min-height: 512px;
            }

            #jumbotron_main h1,#jumbotron_main h2
            {
                color: white;
            }
            
            #form_col
            {
                min-height: 512px;
            }
            
            #form_container
            {
                min-height: 512px;
                
                border-radius: 8px;
                
                background-color: rgba(255,255,255,1);
                
                display: none;
            }
            
            #loginType_tags
            {
                margin-top: 32px;
            }
            
            .intro_btn_container
            {
                min-height: 324px;
            }
            
            .intro_btn
            {
                width: 192px;
                min-height: 192px;
                
                margin: auto;
                margin-top: 48px;
                
                background-position: center;
                background-repeat: no-repeat;
            }
            
            .intro_btn_discription
            {
                width: 192px;
                min-height: 48px;
                
                margin: auto;
                
                text-align: center;
            }
            
            #profile
            {
                background-image: url(/public/RESORCE/profile.png);
            }
            #needknow
            {
                background-image: url(/public/RESORCE/needknow.png);
            }
            #rules
            {
                background-image: url(/public/RESORCE/rules.png);
            }
            
            .intro_detail
            {
                background-color: white;
                
                display: none;
            }
            
            #jumbotron_contact p
            {
                text-align: center;
            }
            
            .tail_img
            {
                min-height: 192px;
            }
            
            #seu_img,#ipp_img
            {
                background-position: center;
                background-repeat: no-repeat;
                background-size: 75% auto;
            }
            
            #seu_img
            {
                background-image: url("/public/RESORCE/SEU.jpg");
            }
            
            #ipp_img
            {
                background-image: url("/public/RESORCE/IPP.jpg");
            }
        </style>
        <script src="public/JS/jquery-1.11.1.js"></script>
        <script src="public/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;&nbsp;活动介绍</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-king" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;候选人</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" id="btn_toLogin_top"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;登录以投票</a></li>
                            <li class="active"><a href="#"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;0/15&nbsp;已投</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="jumbotron_main" class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1>
                            东南大学
                        </h1>
                        <h2>
                            2015最具影响力毕业生投票
                        </h2>
                    </div>
                    <div class="col-md-4" id="form_col">
                        <div class="container-fluid" id="form_container">
                            <ul class="nav nav-tabs" id="loginType_tags">
                                <li role="presentation" id="lb_within_school_login" class="active"><a href="#">校内投票</a></li>
                                <li role="presentation" id="lb_outside_school_register"><a href="#">校外注册</a></li>
                                <li role="presentation" id="lb_outside_school_login"><a href="#">校外登录</a></li>
                            </ul>
                            <!-- 校内登录 -->
                            <div class="container" id="within_school_login_form">
                                <div class="input-group input-group-lg login_form_inputs">
                                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></span>
                                    <input type="text" class="form-control" placeholder="一卡通号" aria-describedby="sizing-addon1">
                                </div>
                                <div class="input-group input-group-lg login_form_inputs">
                                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></span>
                                    <input type="password" class="form-control" placeholder="统一身份认证密码" aria-describedby="sizing-addon1">
                                </div>
                                <div class="input-group input-group-lg login_form_inputs">
                                    <input type="text" class="form-control" placeholder="验证码" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2">这是验证码=3=</span>
                                </div>
                                <div class="container-fluid" id="alert_container_within_school_login_form">
                                    <div class="alert alert-danger alert-dismissible" role="alert" id="alert_within_school_login_form">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong id="alert_txt_within_school_login_form">登录信息错误</strong>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-lg" role="group" aria-label="..." id="btn_within_school_login_form">
                                    <button type="button" class="btn btn-default login_btn">登录</button>
                                    <button type="button" class="btn btn-default cancle_btn">取消</button>
                                </div>
                            </div>
                            <!-- 校外注册 -->
                            <div class="container" id="outside_school_register_form">
                                <div class="input-group login_form_inputs">
                                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                                    <input type="text" class="form-control" placeholder="邮箱地址" aria-describedby="sizing-addon1">
                                    <span class="input-group-addon" id="basic-addon2"><a href="#">发送验证邮件</a></span>
                                </div>
                                <div class="input-group login_form_inputs">
                                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></span>
                                    <input type="text" class="form-control" placeholder="邮件验证码" aria-describedby="sizing-addon1">
                                </div>
                                <div class="input-group login_form_inputs">
                                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></span>
                                    <input type="password" class="form-control" placeholder="密码" aria-describedby="sizing-addon1">
                                </div>
                                <div class="input-group login_form_inputs">
                                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></span>
                                    <input type="password" class="form-control" placeholder="密码确认" aria-describedby="sizing-addon1">
                                </div>
                                <div class="container-fluid" id="alert_container_outside_school_register_form">
                                    <div class="alert alert-danger alert-dismissible" role="alert" id="alert_outside_school_register_form">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong id="alert_txt_outside_school_register_form"></strong>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-lg" role="group" aria-label="..." id="btn_outside_school_register_form">
                                    <button type="button" class="btn btn-default login_btn">注册</button>
                                    <button type="button" class="btn btn-default cancle_btn">取消</button>
                                </div>
                            </div>
                            <!-- 校外登录 -->
                            <div class="container" id="outside_school_login_form">
                                <div class="input-group input-group-lg login_form_inputs">
                                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                                    <input type="text" class="form-control" placeholder="邮箱地址" aria-describedby="sizing-addon1">
                                </div>
                                <div class="input-group input-group-lg login_form_inputs">
                                    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></span>
                                    <input type="password" class="form-control" placeholder="密码" aria-describedby="sizing-addon1">
                                </div>
                                <div class="input-group input-group-lg login_form_inputs">
                                    <input type="text" class="form-control" placeholder="验证码" aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2">这是验证码=3=</span>
                                </div>
                                <div class="container-fluid" id="alert_container_outside_school_login_form">
                                    <div class="alert alert-danger alert-dismissible" role="alert" id="alert_outside_school_login_form">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong id="alert_txt_outside_school_login_form"></strong>
                                    </div>
                                </div>
                                <div class="btn-group btn-group-lg" role="group" aria-label="..." id="btn_outside_school_login_form">
                                    <button type="button" class="btn btn-default login_btn">登录</button>
                                    <button type="button" class="btn btn-default cancle_btn">取消</button>
                                </div>
                            </div>
                            <script>
                                var btn_toLogin_top=$("#btn_toLogin_top");
                                
                                $("#btn_toLogin_top").click(function(){
                                    showLoginForm();
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="page-header">
                <h1>活动介绍<br><small>Introduction/Voting Rules/Ranking Rules</small></h1>
            </div>
        </div>
        <div id="jumbotron_intro" class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="container-fluid intro_btn_container ClickAble" id="introduction_btn">
                            <div class="intro_btn" id="profile">
                            </div>
                            <div class="intro_btn_discription">
                                <h2>简介</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container-fluid intro_btn_container ClickAble" id="voting_rules_btn">
                            <div class="intro_btn" id="needknow">
                            </div>
                            <div class="intro_btn_discription">
                                <h2>投票规则</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container-fluid intro_btn_container ClickAble" id="ranking_rules_btn">
                            <div class="intro_btn" id="rules">
                            </div>
                            <div class="intro_btn_discription">
                                <h2>排名规则</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid intro_detail" id="introduction_detail">
                <div class="container">
                    <div class="page-header">
                        <h2>活动简介<br><small>Introduction</small></h2>
                    </div>
                    <p>
                        东南大学最具影响力毕业生评选活动始于2011年，是我校榜样教育的新尝试和突破口。活动打破了传统上榜样“高大全”的特点，建立了更加符合时代特征的榜样选择标准，充分利用网络等媒体让选择过程民主化，以广大学子乐于接受的语言和方式实现榜样展现形式的多样化、宣传力度的全面化，让榜样与普通学子之间产生情感上的心意相通，真正提升精英育人的成效。<br>
                        三年来，在东南大学最具影响力毕业生评选的舞台上，涌现出了一批杰出学子的代表，既有学术骄子、创业精英，也有半脑男孩、打工皇帝。他们在引领广大学子追求优秀与卓越的同时，受到校内外媒体及社会公众的认同，使得其学习生活经历得以广泛传播，产生了积极的社会影响。
                    </p>
                </div>
            </div>
            <div class="container-fluid intro_detail" id="voting_rules_detail">
                <div class="container">
                    <div class="page-header">
                        <h2>投票规则<br><small>Voting Rules</small></h2>
                    </div>
                    <p>
                        1.校内人员请通过一卡通号及校园统一认证密码登录投票。<br>
                        2.校内人员请使用邮箱注册账号后登录投票。<br>
                        3.投票期间，每人每天可投票一次，每次投15位候选人，多于或少于15位候选人，均无法完成投票。<br>
                        4.注册或登录后，点击候选人照片可查看详细信息；如若投票，请点击相应候选人的投票按钮，选满15位候选人后，点击页面底部提交选票按钮完成投票。<br>
                        5.抵制刷票行为。刷票者票数作废。
                    </p>
                </div>
            </div>
            <div class="container-fluid intro_detail" id="ranking_rules_detail">
                <div class="container">
                    <div class="page-header">
                        <h2>排名规则<br><small>Ranking Rules</small></h2>
                    </div>
                    <p>
                        1.通过本次投票，最终确定15位候选人进入现场决选，15位候选人按照最后得分由高至低确定。候选人最后得分为校内人员、校外人员投票数经换算和记分后的得分之和。<br>
                        2.校内人员投票的最终票数换算为百分制分数，即票数最高者记100分，以此为基准，其余候选人票数按照比例换算为分数（例：第一名票数为1200票，记100分，第二名票数为1100票，则其分数=1100票/1200票*100分=91.67分）。<br>
                        3.校外人员投票的票数进行阶梯式记分。得票1-10名记10分，11-20名记9分，21-30名记8分，以此类推。<br>
                        4.原则上，选出的15位候选人中，同一院系不得超过2人，若超过2人，自第3人起不再进入15人名单，所空名额按最后得分由之后的候选人递补。<br>
                        5.如遇特别优秀、事迹突出、能够代表“东南大学最具影响力毕业生”形象，但票数相对较低的同学，组委会将通过集体表决的方式，适当予以破格，其名额不计入网络投票选出的15人中。
                    </p>
                </div>
            </div>
            <script>
            </script>
        </div>
        <div class="container">
            <div class="page-header">
                <h1>候选人<br><small>Candidates</small></h1>
            </div>
        </div>
        <div id="jumbotron_candidates" class="jumbotron">
            <div class="container">
            </div>
        </div>
        <div class="container">
            <div class="page-header">
                <h1>联系我们<br><small>Contact Us</small></h1>
            </div>
        </div>
        <div id="jumbotron_contact" class="jumbotron">
            <div class="container">
                <p>如遇问题请联系：fuckLiZhuoli@seu.edu.cn</p>
                <p>如遇网站使用方面的问题，请在来信中注明浏览器及版本、具体问题以及您的操作流程等情况，谢谢配合</p>
                <p>
                    <a href="http://xsc.seu.edu.cn/" target="_blank">东南大学学生处</a>
                    |
                    <a href="http://seuef.seu.edu.cn/" target="_blank">东南大学教育基金会</a>
                    |
                    <a href="http://power.seu.edu.cn/s/30/main.htm" target="_blank">东南大学能源与环境学院</a>
                    |
                    <a href="http://cse.seu.edu.cn/CSE/UI/" target="_blank">东南大学计算机科学与工程学院</a>
                    |
                    <a href="http://cose.seu.edu.cn/" target="_blank">东南大学软件学院</a>
                    <br>
                    版权所有@软件学院科协I++Club
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 tail_img" id="seu_img">
                </div>
                <div class="col-md-6 tail_img" id="ipp_img">
                </div>
            </div>
        </div>
        <script src="/public/JS/intro.js"></script>
        <script src="/public/JS/login.js"></script>
        <script>
            introduction_btn.click(function(){
                if(!intro_palying)
                {
                    callupIntro("introduction_detail");
                }
            });
            voting_rules_btn.click(function(){
                if(!intro_palying)
                {
                    callupIntro("voting_rules_detail");
                }
            });
            ranking_rules_btn.click(function(){
                if(!intro_palying)
                {
                    callupIntro("ranking_rules_detail");
                }
            });
            
            $.get("public/RESORCE/json/introduction.json",function(data,result){
                if(result=="success")
                {
                    //alert(data[0]);
                }
            });
        </script>
    </body>
</html>